<section class="Fullpage overflow">
  <div class="notes-master-container">
    <div class="notes-master">
      <h2 class="color-orange font-16 web">Notes Master</h2>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Non Spicy</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Extra Sugar</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Spicy</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Strong</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notes-editor">
      <textarea placeholder="no salt" class="bg-white outline-none color-black"></textarea>
      <div class="buttons">
        <button class="new"><i class="bi bi-file-earmark-plus color-black"></i>&nbsp;&nbsp; New</button>
        <button class="save"><i class="bi bi-floppy"></i>&nbsp;&nbsp; Save</button>
        <button class="update"><i class="bi bi-arrow-up-circle"></i>&nbsp;&nbsp; Update</button>
        <button class="delete"><i class="bi bi-trash3"></i>&nbsp;&nbsp; Delete</button>
      </div>
    </div>
    <h2 class="color-orange font-16 mob">Notes Master</h2>
  </div>

</section>