<section class="Fullpage overflow">
  <div class="container">
    <div class="header">
      <h2 class="color-black">User Register</h2>
      <div class="search-box bg-white">
        <input type="text" placeholder="Search by User Name" class="bg-white color-black" />
        <button><i class="bi bi-search color-black"></i></button>
      </div>
    </div>


    <div
      class="userInputData width-100 height-auto d-flex align-items-center justify-content-center flex-direction-column gap-20">
      <div class="form-actions d-flex align-items-center justify-content-center flex-direction-column gap-20">
        <div class="width-100 d-flex align-items-center justify-content-center gap-20">

          <button class="new bg-white border-lightgrey"><i class="bi bi-file-earmark-plus color-black"></i>&nbsp;
            New</button>
          <button class="save bg-white border-lightgrey"><i class="bi bi-floppy"></i>&nbsp; Save</button>
          <button class="update bg-white border-lightgrey"><i class="bi bi-arrow-up-circle"></i>&nbsp;
            Update</button>
          <button class="delete bg-white border-lightgrey"><i class="bi bi-trash3"></i>&nbsp; Delete</button>

        </div>
      </div>

      <form class="width-100 item-details-form">

        <div class="inputSection d-flex align-items-center justify-content-flex-start flex-direction-column">
          <div class="form-group width-100 mt-10">
            <label>Name </label>
            <input type="text" placeholder="Name" class="bg-white" />
          </div>

          <div class="form-group width-100 mt-10">
            <label>User Id </label>
            <input type="text" placeholder="User Id" class="bg-white" />
          </div>

          <div class="form-group width-100 mt-10">
            <label>User Type </label>
            <select class="bg-white" placeholder="select" style="color: grey !important">
              <option>Waiter</option>
              <option>Chef</option>
              <option>Cashier</option>
            </select>
          </div>

          <div class="form-group width-100 mt-10">
            <label>PIN </label>
            <input type="password" placeholder="PIN" class="bg-white" />
          </div>
        </div>

        <div class="inputSection d-flex align-items-center justify-content-flex-start flex-direction-column">
          <div class="form-group width-100 mt-10">
            <label>Email </label>
            <input type="text" placeholder="Email" class="bg-white" />
          </div>

          <div class="form-group width-100 mt-10">
            <label>Contact Number</label>
            <input type="text" placeholder="+91 xxxxxxxxxx" class="bg-white" />
          </div>

          <div class="form-group width-100 mt-10">
            <label>Date </label>
            <input type="text" placeholder="DD-MM-YYYY" class="bg-white" value="{{selectedDate | date:'dd-mm-yyyy'}}"
              readonly (click)="isDatePicker=true" />
          </div>

          <div class="form-group width-100 mt-10">
            <label>Reg Date</label>
            <input type="text" placeholder="DD-MM-YYYY" class="bg-white" value="{{selectedDate | date:'dd-mm-yyyy'}}"
              readonly (click)="isDatePicker=true" />
          </div>
        </div>

      </form>

    </div>

    <div class="ExistUsers width-100 height-auto d-flex align-items-center justify-content-flex-start overflow-X">
      <table class="items-table">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>User ID</th>
            <th>User Type</th>
            <th>PIN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Active</th>
            <th>Registerd Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dummy;let i = index">
            <td>{{i+1}}</td>
            <td>C {{i+1}}</td>
            <td>Cashier</td>
            <td>****</td>
            <td>Vijay</td>
            <td>vijay&#64;gmail.com</td>
            <td>8903763473</td>
            <td>Yes</td>
            <td>30-08-2024</td>
          </tr>
          <!-- Repeat for more rows -->
        </tbody>
      </table>
    </div>



    <!-- ******************************************************POPUP***************************************** -->


    <div id="datePickPopup"
      class="DatePick height-100 position-fixed z-index-10 top-0 left-0 d-flex align-items-center justify-content-center bg-overlay"
      *ngIf="isDatePicker">
      <div class="width-100 height-100 position-fixed z-index-minus-1" (click)="isDatePicker=false"></div>
      <div>
        <ion-datetime id="datePicker" (ionChange)="onDateSelected($event)" placeholder="Select Date"></ion-datetime>
      </div>
    </div>
    <!-- <p id="selectedDate">Selected Date: None</p> -->




  </div>

</section>